:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.note {
  background-color: #97fff4;
  border-radius: 10px;
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.note-footer {
  display: flex;
  justify-content: space-between;
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.note.new {
  background-color: #feffac;
}
textarea {
  border: none;
  resize: none;
  background-color: #feffac;
}
textarea:focus {
  outline: none;
}
.save {
  background-color: rgb(9, 9, 9);
  border: none;
  border-radius: 15px;
  padding: 8px 12px;
  color: rgb(213, 213, 213);
  transition: 0.5s ease;
}
.save:hover {
  cursor: pointer;
  color: white;
}
.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}
.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
}
.search input:focus {
  outline: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dark-mode {
  background-color: rgb(21, 19, 19);
}
.dark-mode h1 {
  color: white;
}
.toggle-btn {
  font-weight: bold;
}
.dark-mode .toggle-btn {
  border: 1px solid white;
}
.delete-icon {
  cursor: pointer;
}
.container {
  min-height: 100vh;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
